.modal {
  @apply fixed w-10/12 max-w-5xl bg-white z-50 top-10 md:top-24 bottom-10 left-0 right-0 mx-auto shadow-xl shadow-black/25 rounded-md p-8 overflow-y-auto max-h-screen;
}

.content {
  animation: slite-down 300ms ease-out forwards;
}

@keyframes slite-dwon {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
